<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> -->
      <span class="fs-4 ms-3">VEX Streams</span>
    </a>

    <ul class="nav nav-pills me-3" id="header">
      <li class="nav-item"><a href="index.html" class="nav-link active" aria-current="page">Events</a></li>
      <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
      <li class="nav-item"><a href="multiview.html" class="nav-link">Multiview</a></li>
    </ul>

    <script src="header.js"></script>
</header>