p{
    margin: 1em;
}

.hiddenRow {
    padding: 0 !important;
}

.btn-expand[aria-expanded="true"] .collapse-arrow{
    animation: indicator-rotate-1 0.25s ease-in-out;
    transform: rotate(180deg);
}
.btn-expand[aria-expanded="false"] .collapse-arrow{
    animation: indicator-rotate-2 0.25s ease-in-out;
    transform: rotate(0deg);
}

@keyframes indicator-rotate-1{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes indicator-rotate-2{
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.stream-embed{
    border: 1px solid red;
    width: 50%;
    height: 50%;
    /* padding-top: 56.25%; */
}

html, body{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#multiview-parent{
    flex-grow: 1;
    margin-top: 0;
    padding-top: 0;
    display: flex;
    flex-flow: column wrap;
}

.multiview-item{
    /* border: 1px solid red; */
    background-color: silver;
    border: 1px solid black;
    margin: 0;
}